body {
background: #CDDDDD;
}

.hdd{
    height: 100px;
  opacity: 0.7;
}

.hdd:hover{
  opacity: 0.8;
}

.hdd:active{
  opacity: 1;
}

.buttom {
    display: block;
    height: 100px;
}

.boost{
  height: 100px;
  width: 150px;
}

.boost-wrapper{
  height: 200px;
  display: flex;
   flex-direction: row;
   flex: 1;
   flex-wrap: wrap
}

.boost-holder{
  width: 200px;
  height: 200px;
  margin: 10px;
  white-space: nowrap;
  background: #ACBDBA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

.auto-boost{
  background: #A30000;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}