.hdd{
    height: 100px;
  opacity: 0.7;
}

.hdd:hover{
  opacity: 0.8;
}

.hdd:active{
  opacity: 1;
}

.boost{
  height: 100px;
  width: 150px;
}

.boost-wrapper{
  height: 200px;
  display: flex;
   flex-direction: row;
   flex: 1;
   flex-wrap: wrap
}

.boost-holder{
  width: 200px;
  height: 200px;
  background: burlywood;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.auto-boost{
  background: darkred;
  width: 170px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}