{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script src="{% static 'js/index.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="utf-8">
    <title>Title </title>
  </head>
  <body onload="getUser({{user.id}})">
     <main>
      <div>
        <h3> Здравствуй, <div id="user">%user%!</div> </h3>
        <div class="logout"><a href="/logout">Выход</a></div>
        <h1> У тебя есть <div id="data">%coins%</div> байт</h1>
        <h3> Байт за клик <div id="clickPower">{{mainCycle.clickPower}}</div> </h3>
        <h3> Уровень майнера: <div id="autoClickPower"> {{mainCycle.autoClickPower}} </div> байт в секунду </h3>
        <div class="buttom"><input type="image" class="hdd" src="{% static 'images/hdd.png' %}" onclick="callClick()" /></div>
        <div class="boost-wrapper" id="boost-wrapper">

        </div>
      </div>

    </main>
  </body>
</html>
